@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Rye&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Section */
header {
    padding-top: 20px;
    text-align: center;
}

h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

p {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

/* Main Section */
section {
    margin: 2% 10%;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    transition: transform 03s;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.imgContent {
    max-width: 90%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Filter Area */
.filter {
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter button {
    border: 2px solid rgb(247, 250, 250);
    padding: 15px;
    margin-right: 15px;
    font-size: 18px;
    background-color: rgb(3, 128, 169);
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}

.filter button:hover {
    background-color: rgb(112, 209, 241);
    color: rgb(44, 5, 5);
}

#toggle-btn {
    background-color: rgb(31, 28, 28);
}

#toggle-btn:hover {
    background-color: aliceblue;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode #toggle-btn {
    background-color: rgb(232, 237, 241);
    color: black;
}

.dark-mode #toggle-btn:hover {
    background-color: rgb(78, 50, 5);
    color: rgb(232, 237, 241);
}