@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Rye&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Section */
header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

p {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

/* Main Section */
section {
    margin: 2% 10%;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}
